.sobre {
    top: 100px;
    left: 30px;
    opacity: 0.7;
    background-color: grey;
    color: white;
    transform: rotate(10deg);
    border: 1px solid red;
}

.banner {
    background-color: #28A745;
    height: 150px;
    color: white;
    font-size: 75px;
    text-align: center;
}