html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container{
    position: relative;
}
.caja{
  width: 180px;
  height: 180px;
  background-color: #30B037;
  color: #FFF;
  text-align: center;
  line-height: 180px;
  margin: 15px;
  float: left;
  font-size: 18px;
  font-family: Arial;
}

.caja.caja1{
  background-color:#C0392B ;
}

.caja.caja1:hover{
  background-color: #17A589;
}

.caja.caja2{
  background-color: #9B59B6;
}

.caja.caja2:hover{
  font-size: 35px;
}

.caja.caja3{
  background-color: #2980B9;
}

.caja.caja3:hover{
  color:crimson;
}

.caja.caja4{
  background-color: #3498DB;
}

.caja.caja4:hover{
  line-height: 25px;
}

.caja.caja5{
  background-color: #17A589;
}

.caja.caja5:hover{
  border-radius: 25px;
}

.caja.caja6{
  background-color:#DFBA26 ;
}

.caja.caja6:hover{
  box-shadow: 10px 5px 5px black;
}

.caja.caja7{
  background-color:#E67E22 ;
}

.caja.caja7:hover{
  opacity: 25%;
}

.caja.caja8{
  background-color:#95A5A6 ;
}

.caja.caja8:hover{
  border:2px solid springgreen;
}

.caja.caja9{
  background-color:#2C3E50 ;
}

.caja.caja9:hover{
 margin: 2px;
}

.caja.caja10{
  background-color:#000000 ;
}

.caja.caja10:hover{
  padding: 25px;
}
